<div class="container">
	<div class="box-login-info">
		<% unless user_signed_in? %> 
	    <ul>
	    	<li>
	    		<%= link_to('Cadastre-se', '/users/sign_up') -%>
	    	</li>
	    	<li>
	    		<a href="/auth/facebook">
	    			Logar com facebook
	    		</a>
	    	</li>
	    </ul>
		<% else %>
			Oi <%=current_user.name%> <br />
			<%= link_to('Sair', destroy_user_session_path, :method => :delete) %>
		<% end %>
	</div>	
</div>	